/* color palette from <https://github.com/vuejs/theme> */
:root {

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-black-light: #414141;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light: #ffffff;
  --vt-c-text-dark: #868686;
  --vt-c-text-dark-mute: #525252;

  --vt-box-shadow: 1px 2px 12px 1px #0f0f0f;
  --vt-box-shadow-sm: 0px 0px 20px 1px #0f0f0f;

  --basic-color: #161b21;
  --secondary-color: #1d232c;
  --beb-color: #00adee;
  --chart-text: #c2c2c2;
  --finished-color: #2f4336;
  --emergency-color: #330c0c;
  --idle-color: rgba(255, 255, 128, .5);
  --overtime-color: #B97B28FF;
}

:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-background-light: var(--vt-c-black-light);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-text-basic: var(--vt-c-text-dark);
  --color-text-active: var(--vt-c-text-light);
  --color-text-overtime: var(--overtime-color)

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html, body {
  height: 100vh;
  margin: 0;
  color: var(--color-text-basic);
  background: var(--color-background-soft);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

@media (max-width: 1300px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 12px;
  }
}