@import './base.css';

#app {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vb;
}

#header {
  height: 6%;
}

#main {
  height: 88%;
  overflow-x: hidden;
  overflow-y: auto;
}

#footer {
  height: 4%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}